In [2]:
import pandas as pd
from tqdm.notebook import tqdm

In [319]:
location_df = pd.read_csv('scrapy/scraper/nhsdata.csv')

In [321]:
p = location_df.gp.unique()
p

array(['Regency Road Surgery', 'Long Clawson Medical Practice',
       'Latham House Medical Practice', ..., 'Royal Hospital School',
       'Maude Street Surgery', 'County Road Surgery'], dtype=object)

In [300]:
# check duplicate rows
location_df[location_df.duplicated()]

Empty DataFrame
Columns: [gp, locname]
Index: []

In [309]:
location_df[location_df['locname']=='Manchester']

                                  gp     locname
5671992           City Health Centre  Manchester
5671993                  Blackfriars  Manchester
5671994            THE Doc's Surgery  Manchester
5672024       Trinity Medical Centre  Manchester
5672025    The Arch Medical Practice  Manchester
...                              ...         ...
5713203  The Village Surgeries Group  Manchester
5713204  Haigh Hall Medical Practice  Manchester
5713205           West Lodge Surgery  Manchester
5713206        Dr S M Chen & Partner  Manchester
5713241              Glenlea Surgery  Manchester

[973 rows x 2 columns]

In [302]:
location_df[location_df['locname'].str.startswith('B')].locname.nunique()

1518

In [318]:
location_df[location_df['gp']=='Blackthorn Health Centre']

                               gp                locname
3318     Blackthorn Health Centre          Abbots Worthy
4208     Blackthorn Health Centre             Abbotstone
30022    Blackthorn Health Centre                Calshot
34894    Blackthorn Health Centre             Bedhampton
39191    Blackthorn Health Centre              Bell Hill
...                           ...                    ...
7931135  Blackthorn Health Centre  Brockhurst, Hampshire
7932175  Blackthorn Health Centre            Broadbridge
7934934  Blackthorn Health Centre            Brockbridge
7934936  Blackthorn Health Centre           Brockenhurst
7954386  Blackthorn Health Centre              Broadmere

[752 rows x 2 columns]

In [303]:
location_df['locname'].value_counts()

Hayes, Greater London           2075
Grove Park, Greater London      2006
Green Street, Hertfordshire     1996
Bury Green, Hertfordshire       1914
Hook Green, Kent                1910
                                ...
Blisland                           7
Brineton                           7
Higher Town, Isles of Scilly       2
Isles of Scilly                    2
Hugh Town                          2
Name: locname, Length: 20172, dtype: int64

In [322]:
location_df['gp'].value_counts()

Riverside Surgery                                                  6705
High Street Surgery                                                6175
The Village Surgery                                                5499
Village Surgery                                                    4842
Park View Surgery                                                  4769
                                                                   ...
Grasmere Branch Surgery                                              78
County Road Surgery                                                  45
St Mary's Health Centre                                               3
Dr Garman & Partners                                                  3
Lordship Lane Health Centre - Covid Local Vaccination Service 2       1
Name: gp, Length: 8032, dtype: int64

In [323]:
# gp: name of gp (unique), locations: places where the gp locates, nhs_url: the nhs overview website of the gp, url: main website of the gp
gp_df = pd.DataFrame(columns=['gp', 'locations', 'nhs_url', 'url'])
gp_df['gp'] = location_df['gp'].unique()

In [325]:
gp_df[gp_df['gp']=='Blackthorn Health Centre']

                            gp locations nhs_url  url
2346  Blackthorn Health Centre       NaN     NaN  NaN

In [331]:
gp_df.iloc[2347]

gp           Wheaton Aston Surgery
locations                      NaN
nhs_url                        NaN
url                            NaN
Name: 2347, dtype: object

In [324]:
gp_df

                                     gp locations nhs_url  url
0                  Regency Road Surgery       NaN     NaN  NaN
1         Long Clawson Medical Practice       NaN     NaN  NaN
2         Latham House Medical Practice       NaN     NaN  NaN
3          The Welby Practice (Waltham)       NaN     NaN  NaN
4     Stackyard and Woolsthorpe Surgery       NaN     NaN  NaN
...                                 ...       ...     ...  ...
8027              Diamond Medical Group       NaN     NaN  NaN
8028                       Dr Barclay P       NaN     NaN  NaN
8029              Royal Hospital School       NaN     NaN  NaN
8030               Maude Street Surgery       NaN     NaN  NaN
8031                County Road Surgery       NaN     NaN  NaN

[8032 rows x 4 columns]

In [246]:
gp_df[gp_df['gp'] == 'Nethergreen Surgery']

,gp,locations,nhs_url,url
318,Nethergreen Surgery,"[Abbeydale, Alport, Alton, Derbyshire, Bakewel...",NaN,NaN

In [242]:
gp_df[['gp']].to_csv('gps.csv', encoding='gbk', index=False)

In [116]:
# add list of its locations for each gp

In [110]:
tqdm.pandas()
gp_df['locations'] = gp_df['gp'].progress_apply(lambda x: location_df[location_df['gp']==x].locname.unique())

  0%|          | 0/8025 [00:00<?, ?it/s]

In [234]:
gp_df[:200].gp.unique()

array(['Regency Road Surgery', 'Long Clawson Medical Practice',
       'Latham House Medical Practice', 'The Welby Practice (Waltham)',
       'Stackyard and Woolsthorpe Surgery', 'Cropwell Bishop Surgery',
       'Keyworth Medical Practice', "Dr MK Lakhani's Practice",
       'The Banks Surgery', 'Cotgrave Surgery', 'Great Witley Surgery',
       'The Village Hall', 'Stourport Medical Centre', 'Martley Surgery',
       'Bewdley Medical Centre', 'Ombersley Medical Centre',
       'Cleobury Mortimer Surgery', 'Northumberland House Surgery',
       'Grey Gable Surgery', 'Merstow Green Medical Practice',
       'Abbey Medical Practice', 'Aylmer Lodge Cookley Partnership',
       'Knightwick Surgery', 'Demontfort Medical Centre',
       'Pershore Medical Practice', 'Riverside Surgery',
       'Abbottswood Medical Centre', 'Feckenham Surgery',
       'Templecombe Surgery', 'Milborne Port Surgery',
       'Wincanton Health Centre', 'The Blackmore Vale Partnership',
       'The Arrow Surgery', 'Alcester Health Centre',
       'The Grove Medical Centre', 'The Apples Medical Centre',
       'Sherborne School Health Centre', 'Peacemarsh Surgery',
       'Silton Surgery', 'Gillingham Medical Practice',
       'The County Practice', 'Market Overton and Somerby Surgeries',
       'The Jubilee Medical Practice', 'Barrow Health Centre',
       'Charnwood Surgery', 'Alpine House Surgery',
       'Quorn Medical Centre', 'East Leake', 'Village Health Group',
       'Hulton House Surgery', 'Birches Head Medical Ctr.',
       'Potteries Medical Centre', 'Millrise Medical Practice',
       'The Church Street Practice', 'Belvoir Health Group',
       'Prima Care Surgeries', 'The Moorcroft Medical Ctr',
       'Cambridge House', 'Moss Green Surgery',
       'Harley Street Medical Ctr', 'Silloth Group Medical Practice',
       'The Croft Surgery', 'Wigton Group Medical Practice',
       'Eden Surgery', 'The Eden Surgeries', 'Ongar Health Centre',
       'Rowhedge Surgery', 'Malting Green Surgery', 'Wivenhoe Surgery',
       'Abbey Field Medical Centre', 'The Ridgeway Surgery',
       'Aspatria Medical Group', 'Caldbeck Surgery',
       'Dalston Medical Group', 'Castlegate and Derwent Surgery',
       'Maryport Health Services', 'Central Surgery',
       'Old Harlow Health Centre', 'Church Langley Medical Practice',
       'North Weald Surgery', 'Gardens and Jacobs Medical Partnership',
       'Wimpole Road Surgery', 'University Health Centre',
       'Creffield Medical Group', 'Shrub End Surgery',
       'Ambrose Avenue Group Practice', 'Withnell Health Centre',
       'Feniscowles Surgery', 'Bentham Road Health Centre',
       'Hollins Grove Surgery', 'Lakeside Medical', 'Abbey Wood Surgery',
       'Abbeyslade Pms (Dr Chand)', 'Morton Surgery',
       'Eden Medical Group', 'Nuffield House Health Centre',
       'Sydenham House Surgery', 'West Mersea Surgery',
       'Darwen Healthlink', 'Darwen Healthcare', 'Witton Medical Centre',
       'Spring-Fenisco Healthlink', 'Dr A Alam & Partner',
       'Gallions Reach Health Centre', 'Bannockburn Surgery',
       'Dr Mostafa M A', 'Belvedere Medical Centre', 'Mostafa Pms',
       'Kidderminster Medical Centre', 'Stanmore House Surgery',
       'Wolverley Surgery', 'Carterknowle And Dore Medical Practice',
       'Avenue Medical Practice', 'Beauchief Medical Practice',
       'Golden Valley Practice', 'The Surgery Kingstone',
       'Peterchurch Surgery', 'Bidford Health Centre',
       'Pool Medical Centre', 'Redlam Surgery', 'Bexley Medical Group',
       'Station Road Surgery', 'Tenbury Surgery',
       'Barbourne Health Centre', 'Thorneloe Lodge Surgery',
       'Albany House Surgery', 'St Johns House Surgery',
       'Ecclesall Medical Centre', 'Woodseats Medical Centre',
       'Totley Rise Medical Centre',
       'Carterknowle & Dore Medical Practice',
       'Baslow Rd, Shoreham St & York Rd Srgies', 'Much Birch Surgery',
       'Belmont Medical Centre', 'Credenhill Surgery',
       'Quay House Medical Centre', 'Staunton-On-Wye Surgery',
       'Crabbs Cross Medical Centre', 'Crabbs Cross Surgery',
       'Lyppard Grange Medical Centre', 'The Bridge Surgery',
       'Elbury Moor Medical Centre', 'Queen Camel Medical Centre',
       'Blackmore Vale Partnership', 'Millbrook Surgery, Castle Cary',
       'Salters Medical Practice', 'Falkland House Surgery',
       'Veritas Health Centre', 'South Wye Medical Centre',
       'Bobblestock Surgery', "St Peter's Surgery",
       'Haresfield House Surgery', 'Bruton Surgery', 'Mere Surgery',
       'Oaklands Surgery', 'Child Okeford Surgery',
       'Nhs Yeovil Health Centre',
       'Lancaster Medical Practice (Galgate site)',
       'Lancaster Medical Practice (Lancaster University site)',
       'Lancaster Medical Practice (Rosebank site)',
       'Silverdale Medical Centre', 'Radcliffe-on-Trent. Health Centre',
       'Market Overton & Somerby Surgeries', 'Bradworthy Surgery',
       'Ruby Country Medical Group', 'Yetminster Medical Centre',
       'Lancaster Medical Practice (Meadowside site)',
       'Caton Health Centre, part of Dr J D Marriott and Partners',
       'Caton Health Centre', 'Lancaster Medical Practice', 'Healthub',
       'The Gamston Medical Ctr.', 'The Ruddington Med Centre',
       'The Welby Practice', 'Church House Surgery',
       'Bottesford Baptist Church', 'Manor Medical Centre',
       'Spa Medical Practice', 'Black Torrington Surgery',
       'Castle Gardens Surgery', 'TORRINGTON HEALTH CENTRE',
       'Bideford Medical Centre', 'Wooda Surgery',
       'Hanley Health & Well Being Centre', 'Smallthorne Health Centre',
       'Werrington Village Surgery', 'Baddeley Green Surgery',
       'Abbots Bromley Surgery', 'Aelfgar Surgery', 'Horsefair Practice',
       'Queen Square Medical Practice',
       'Lancaster Medical Practice (King Street site)',
       'Thurmaston Health Centre', 'Cookley Surgery',
       'Chaddesley Surgery', 'Stratton Medical Centre', 'Northam Surgery',
       'Hartland Surgery', 'COBRIDGE SURGERY', 'Apsley Surgery'],
      dtype=object)

In [12]:
df = pd.read_csv('scrapy/gscraper/nhslinks.csv')

In [9]:
df

,gp,nhs_url
0,Regency Road Surgery,https://www.nhs.uk/services/gp-surgery/regency...
1,Long Clawson Medical Practice,https://www.nhs.uk/services/gp-surgery/long-cl...
2,Latham House Medical Practice,https://www.nhs.uk/services/gp-surgery/latham-...
3,The Welby Practice (Waltham),https://www.nhs.uk/services/gp-surgery/the-wel...
4,Stackyard and Woolsthorpe Surgery,https://www.nhs.uk/services/gp-surgery/stackya...
...,...,...
8027,Diamond Medical Group,https://www.nhs.uk/services/gp-surgery/diamond...
8028,Dr Barclay P,https://www.nhs.uk/services/gp-surgery/dr-barc...
8029,Royal Hospital School,https://www.nhs.uk/services/gp-surgery/royal-h...
8030,Maude Street Surgery,https://www.nhs.uk/services/gp-surgery/maude-s...
8031,County Road Surgery,https://www.nhs.uk/services/gp-surgery/parkgat...

In [34]:
new = df.dropna()
new

,gp,nhs_url
0,Regency Road Surgery,https://www.nhs.uk/services/gp-surgery/regency...
1,Long Clawson Medical Practice,https://www.nhs.uk/services/gp-surgery/long-cl...
2,Latham House Medical Practice,https://www.nhs.uk/services/gp-surgery/latham-...
3,The Welby Practice (Waltham),https://www.nhs.uk/services/gp-surgery/the-wel...
4,Stackyard and Woolsthorpe Surgery,https://www.nhs.uk/services/gp-surgery/stackya...
...,...,...
8027,Diamond Medical Group,https://www.nhs.uk/services/gp-surgery/diamond...
8028,Dr Barclay P,https://www.nhs.uk/services/gp-surgery/dr-barc...
8029,Royal Hospital School,https://www.nhs.uk/services/gp-surgery/royal-h...
8030,Maude Street Surgery,https://www.nhs.uk/services/gp-surgery/maude-s...
8031,County Road Surgery,https://www.nhs.uk/services/gp-surgery/parkgat...