In [1]:
import pandas as pd

In [2]:
location_df = pd.read_csv('scrapy/scraper/nhsdata.csv')

In [3]:
location_df

                                    gp               locname
0                   Grey Gable Surgery              Ab Lench
1       Merstow Green Medical Practice              Ab Lench
2               Abbey Medical Practice              Ab Lench
3            Demontfort Medical Centre              Ab Lench
4            Pershore Medical Practice              Ab Lench
...                                ...                   ...
85753           St Johns House Surgery  Aston, Herefordshire
85754        Whiteacres Medical Centre  Aston, Herefordshire
85755  New Court Road Surgery Branch 1  Aston, Herefordshire
85756                  Colwall Surgery  Aston, Herefordshire
85757          Barbourne Health Centre  Aston, Herefordshire

[85758 rows x 2 columns]

In [5]:
location_df['locname'].value_counts()

Avery Hill           1510
Ayot Green           1506
Ayot St. Peter       1472
Ayot St. Lawrence    1386
Aston, Derbyshire    1370
                     ...
Astley Cross           10
Astley Lodge           10
Alum Rock              10
Altarnun               10
Arlington, Devon       10
Name: locname, Length: 562, dtype: int64

In [11]:
location_df['gp'].value_counts()

The Village Surgery                                  115
High Street Surgery                                  105
Riverside Surgery                                     98
Linden Hall Surgery                                   95
Park View Surgery                                     92
                                                    ...
Carn to Coast Health Centres - Trevithick Surgery      1
Veor Surgery                                           1
St. Agnes Surgery                                      1
Roseland Parc Surgery                                  1
Upwell Health Centre                                   1
Name: gp, Length: 8006, dtype: int64

In [12]:
location_df[location_df['gp']=='The Village Surgery']

                        gp               locname
635    The Village Surgery          Abbey Hulton
2864   The Village Surgery  Acton, Staffordshire
3522   The Village Surgery   Adlington, Cheshire
3889   The Village Surgery              Adderley
4604   The Village Surgery          Abbey Hulton
...                    ...                   ...
79563  The Village Surgery     Aston, Derbyshire
80673  The Village Surgery     Aston, Derbyshire
82062  The Village Surgery           Aston Heath
84293  The Village Surgery          Astley Green
84810  The Village Surgery                Aveley

[115 rows x 2 columns]

In [4]:
location_df['GPs'] = location_df['GPs'].apply(lambda x: x.split(','))

In [5]:
location_df

             locname                                                GPs
0              Zouch  [Cross Street Surgery, Sutton Bonington Branch...
1    Zeal Monachorum  [Bow Medical Practice, North Tawton Medical Pr...
2              Zeals  [Silton Surgery, Mere Surgery, Peacemarsh Surg...
3              Zelah  [Perranporth Surgery, Cornwall Health For Home...
4    Zeal Monachorum  [Chagford Health Centre, Hatherleigh Medical C...
..               ...                                                ...
105            Zouch  [Firs Surgery, Hodge Hill Family Practice, Col...
106            Zouch  [Mirfield Surgery, Glebe Farm Road Surgery, Ch...
107            Zouch  [Arran Medical Centre Branch Surgery, Sheldon ...
108            Zouch  [Cotterils Lane Surgery, Coventry Road Practic...
109            Zouch  [Omnia Practice, Yardley Green Medical Centre,...

[110 rows x 2 columns]

In [6]:
# there can be multiple GPs with the same name in the same place with differerent distance
# here we only collect it once, since GPs with the same name tend to have the same website
df = location_df.explode('GPs').drop_duplicates()
df = df.loc[:, ['GPs', 'locname']].reset_index(drop=True)
df = df.rename(columns={'GPs': 'GP', 'locname': 'location'})
df

                                   GP location
0                Cross Street Surgery    Zouch
1             Sutton Bonington Branch    Zouch
2     Dishley Grange Medical Practice    Zouch
3     Loughborough Urgent Care Centre    Zouch
4                     Orchard Surgery    Zouch
...                               ...      ...
1044       Aubrey Road Medical Centre    Zouch
1045          The Park Medical Centre    Zouch
1046       Dudley Park Medical Centre    Zouch
1047            Victoria Road Surgery    Zouch
1048      Acocks Green Medical Centre    Zouch

[1049 rows x 2 columns]

In [8]:
df['location'].value_counts()

Zouch              556
Zeals              240
Zeal Monachorum    121
Zelah               82
Zennor              50
Name: location, dtype: int64